{% extends "base.html" %}
{% block content %}
    <h1>Current Signups</h1>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Child Name</th>
          <th>Parent Name</th>
          <th>Age</th>
          <th>Lunch</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% set count = 0 %}
        {% for user in users %}
        {% set count = count+1 %}
        <tr>
          <th scope="row">{{count}}</th>
          <td>{{user.name}}</td>
          <td>{{user.parent}}</td>
          <td>{{user.age}}</td>
          <td>{{'Yes' if user.lunch else 'No'}}</td>
          <td>{{user.notes}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
